<div class="row jobs-show">
  <div class="col-md-12 col-lg-10 col-lg-offset-1">
    <div class="pull-right">
      <% if user_signed_in? && !current_user.admin? %>
        <% if current_user && current_user.has_applied?(job) %>
          <%= link_to("已经申请", new_job_resume_path(job), class: "btn btn-info btn-sm disabled", method: :get) %>
        <% else %>
          <%= link_to("马上申请", new_job_resume_path(job), class: "btn btn-info btn-sm", method: :get) %>
        <% end%>
      <% else %>
        <%= link_to("马上申请", new_job_resume_path(job), class: "btn btn-info btn-sm", method: :get) %>
      <% end %>
    </div>





    <div class="row job-show-box">
      <p><%= link_to(render_highlight_content(job, @query_string), job_path(job)) %></p>
      <div class="col-md-6">
        <p>薪资: <%= job.wage_lower_bound %> ~ <%= job.wage_upper_bound %> </p>
      </div>
      <div class="col-md-6">
        <p><i class="fa fa-address-card-o" aria-hidden="true"></i>  <%= job.category %></p>
      </div>
      <div class="col-md-3 col-sm-6">
        <span><i class="fa fa-building" aria-hidden="true"></i>  <%= job.company %></span>
      </div>
      <div class="col-md-3 col-sm-6">
        <span><i class="fa fa-map-marker" aria-hidden="true"></i>  <%= job.city %></span>
      </div>
      <div class="col-md-3 col-sm-6">
        <span><i class="fa fa-clock-o" aria-hidden="true"></i> 发布时间: <%= job.created_at.strftime("%Y-%m-%d")%> </span>
      </div>
      <div class="col-md-3 col-sm-6">
        <span><i class="fa fa-envelope" aria-hidden="true"></i>  <%= job.contact_email %></span>
      </div>
    </div>
  </div>
</div>
