<div id="search-page" class="container-fluid jobs-show-page">
  <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <br>
    <div class="pull-right">
      <%= link_to("查看所有工作", jobs_path) %> |
      <%= link_to("返回", url_for(:back)) %>
    </div>

    <% if @jobs.blank?%>
      <br>
      <div>
        <h4>抱歉，没有找到您想要的工作</h4>
      </div>
    <% else %>
      <h3>总共发现 <%= @jobs.count %> 个工作</h3>
      <div class="divider"></div>
      <%= render :partial => "jobs_item", :collection => @jobs, :as => :job %>
      <div class="text-center">
        <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
      </div>
    <% end %>
  </div>
</div>
