<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1><%= @job.title %><span class="company">  / <%= @job.company %></span></h1>
    <p>
      <span class="wage"><%= @job.wage_lower_bound %> k ~ <%= @job.wage_upper_bound %> k </span> /
      <span><sapn class="fa fa-map-marker"></sapn> <%= @job.city %></span> /
      <%= link_to("投递简历", new_job_resume_path(@job), class: "btn btn-lg btn-info pull-right") %>
        <!-- <span><span class="<%#= render_job_category(@job) %>"> <%= @job.category %></span> -->
     </p>
     <p class="created"><%= @job.created_at.strftime("%Y-%m-%d") %> <span class="website">发布</span></p>
      <br />
      <p>职位描述：<%= simple_format(@job.description) %></p>

      <!-- <%#= render :partial => "favorites/favorites_item" %> -->
      <% if current_user%><!--收藏 start-->
          <% if current_user.favorites.where(job: @job).empty? %>
              <button class="like btn btn-default" type="button">
                 <span class="fa fa-heart"></span>
                 <%= link_to("收藏", favorites_path(job_id: @job), method: :post) %>
              </button>
              <p> 已有<%= @job.fans.count %>人收藏 </p>
          <% else %>
              <button class="like btn btn-default" type="button">
                  <span class="fa fa-heart"></span>
                  <%= link_to("取消收藏", favorite_path(@job), method: :delete) %>
              </button>
              <p> 已有<%= @job.fans.count %>人收藏 </p>
          <% end %>
      <% else %>
              <button class="like btn btn-default" type="button">
                  <span class="fa fa-heart"></span>
                  <%= link_to("收藏", favorites_path(job_id: @job), method: :post) %>
              </button>
              <p> 已有<%= @job.fans.count %>人收藏 </p>
      <% end%><!--收藏 end-->

      <%= link_to like_job_path(@job), method: :put do %>
          <div class="pi-thumbs-up">
            <i class="fa fa-thumbs-up fa-2x", style="color:#ff5722;"></i>
            <%= @job.get_upvotes.size%>
          </div>
      <% end %>

  </div>
</div>

<style>

/*.like{
    border-color:rgb(245,190,126);background-color:rgb(245,190,126);
    i{
      color:#fff;
    }
  }
  .unlike{
    border-color:rgb(245,190,126);background-color:#fff;
  i{
      color:rgb(245,190,126);
    }
  }测试收藏按钮颜色用，还没完成该功能*/
</style>
