<!DOCTYPE html>
<html>
  <head>
    <title>The One Offer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1"><!--适配移动端-->
    <script src="https://api.map.baidu.com/api?v=2.0&ak=fitXUIqC5oHoWvnUhd4PwtHlbMb22AvH&s=1" type="text/javascript"></script>
    <script src="https://qiyukf.com/script/fe9a10328ea1c1338f9c4835e7b6d3e4.js" defer async></script>
  </head>

  <body>

          <div class="container-fluid">
            <div class="row">
              <%= render "common/navbar" %>
              <div class="wrapper">
                  <%= render "common/flashes" %>
                  <%= yield %>
              </div>
            </div>
          </div>

          <%= render "common/footer" %>

      </body>
</html>
